# Instructions: 
# Copy this file to a new file named ".env" in the same folder, then fill
# in the keys

# Required Keys
# GEMINI (translating/categorizing texts) https://aistudio.google.com/apikey
GEMINI_API_KEY=
# X/Twitter (scraping tweets) https://developer.x.com/
X_API_KEY=


# Optional Keys (used for fallback, you probably don't need them)
# GROQ https://console.groq.com/keys
GROQ_API_KEY=
# OPENROUTER https://openrouter.ai/keys
OPENROUTER_API_KEY=
# GROK https://console.x.ai
GROK_API_KEY=

